<section class="products">
  <ul>
    {{#each products}}
      <li class="product">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <strong>{{price}} €</strong>
      </li>
    {{/each}}
  </ul>
</section>