<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {{#each products}}
    <div class="bg-white rounded-xl p-6 shadow-xl hover:shadow-2xl transition flex flex-col">
      <h3 class="font-medium mb-2">{{name}}</h3>
      <p class="text-sm text-gray-500 mb-4 flex-1">{{description}}</p>

      <div class="text-sm font-medium">{{price}} € / mo</div>
    </div>
  {{/each}}
</div>